@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
 

html,
body {
  background-color: #2f2f2f;
  color: white;
  padding: 0;
  /* margin: 40px; */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #f39e00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

form {
   /* Center the form on the page */
   margin: 0 auto;
   max-width: 60vw;
   /* Form outline */
   padding: 1em;
   border: 1px solid #ccc;
   border-radius: 1em;
}


form li + li {
  margin-top: 1em;
  width: 50vw;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  text-align: left;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  background-color: #999;

  /* Uniform text field size */
  max-width: 70vw;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

button, .button {
  /* Align buttons with the text fields */
  /* margin-left: 130px; */
  margin: 40px;
  background-color: grey;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  max-width: 100%;

}
button:hover, .button:hover{
  cursor: pointer;
  background-color: rgb(175, 174, 174);

}

  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */

/* button, .button {

  margin-left: 50px;
  text-align: right;
} */

.header {
  background-color: antiquewhite;
}

/* Style the navbar */
.navbar {
  overflow: hidden;
  background-color: #686767;
  width: 100%;
}

/* Navbar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.results-container {
  font-size: larger;
  display: flex;
  margin: 80px;
  flex-direction: column;
  align-items: center;
}

.user-tools {
  font-size: large;
  display: flex;
  margin: 10px;
  gap: 30px;
}

.form-flow {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar{
  display: flex;
  justify-content: center ;
  align-items: center;
  max-width: 40vw;
  min-width: 360px;
}

.container-main {
  padding: 40px;
}